.vote-count {
  text-align: center;
}

.vote-count p {
  margin: 0;
  color: #0B0C0C;
}

.btn-vote {
  background-color: white;
  border: none;
}

.btn-vote:focus {
  outline: 0;
}

.btn-vote:hover {
  color: #c1002e;
}

.btn-voted {
  background-color: white;
  border: none;
}

.btn-voted:focus {
  outline: 0;
}

.btn-voted:hover {
  color: gray;
}