.article-page-ul {
  list-style-type: none;
  padding-left: 56px;
}

.vote-count {
  display: inline-block;
  text-align: center;
}

.vote-count p {
  margin: 0;
  color: #0B0C0C;
}

.article-page-article {
  display: inline-block;
  padding-left: 50px;
}

.fa-comments {
  padding-left: 20px;
  padding-right: 5px; 
}