.comments {
  padding-left: 56px;
  padding-top: 20px;
}

.comment-article {
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
}

.commentator {
  font-size: .9em;
}

.comment-text {
  margin-top: -10px;
}