.container {
  padding: 15px 0 0 0;
  margin-left: 56px;
}

.comments {
  padding-left: 56px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comment-article {
  margin-top: -75px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.commentator {
  font-size: .9em;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.comment-vote-count p {
  margin: 0;
}

.btn-delete-comment {
  font-size: 0.75rem;
}


.btn-vote {
  background-color: white;
  border: none;
}

.btn-vote:focus {
  outline: 0;
}

.btn-vote:hover {
  color: red;
}

.btn-voted {
  background-color: white;
  border: none;
}

.btn-voted:focus {
  outline: 0;
}

.btn-voted:hover {
  color: gray;
}

/* .fa-thumbs-up:hover {
  color: red;
}

.fa-thumbs-down:hover {
  color: red;
} */