.comments {
  background-color: #f2f2f2;
}

.comments-header {
  font-weight: 700;
}

.commentator {
  font-size: .9em;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #595959;
}

.comment-vote-count {
  text-align: center;
}

.btn-vote-comment {
  background-color: #f2f2f2;
  border: none;
}

.btn-vote-comment:focus {
  outline: 0;
}

.btn-vote-comment:hover {
  color: #c1002e;
}

.btn-voted-comment {
  background-color: #f2f2f2;
  border: none;
}

.btn-voted-comment:focus {
  outline: 0;
}

.btn-voted-comment:hover {
  color: gray;
}