/* .App {
  text-align: center;
} */

.App-logo {
  height: 50px;
}

.App-header {
  text-align: center;
  background-color: #373737;
  height: 150px;
  padding-top: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
